body{
    margin: 0;
    background: linear-gradient(65deg, rgb(23, 29, 41) 5%, rgb(31, 30, 35) 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.chat{
    width:500px;
    height:700px;
    background:#2B2D31;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    overflow:hidden;

}

.header{
    background:#1E1F22;
    color:white;
    padding:20px;
    font-size:24px;
    text-align:center;
}

#messages{
    flex:1;
    padding:20px;
    overflow-y:auto;
}

.message {
    background: #40444B;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    max-width: 70%;
    margin-left: 50%;
    margin-right: 0;
}


.bottom{
    display:flex;
    padding:15px;
    gap:10px;
    background:#1E1F22;
}

input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    width:60px;
    border:none;
    border-radius:8px;
    background:#5865F2;
    color:white;
    font-size:22px;
    cursor:pointer;
}